.image-container {
    position: relative;
    display: inline-block;
    margin: 10px;
    transition: transform 0.2s; /* Dodaj efekt przejścia */
}

.image-info {
    position: absolute;
    top: 0; /* Pozycja górna */
    right: -10px; /* Pozycja od prawej strony */
    background-color: rgba(158, 232, 137, 0.8); /* Kolor tła */
    color: #000000; /* Kolor tekstu */
    padding: 10px;
    border-radius: 4px;
    opacity: 100%;
    z-index: 1; /* Zawsze na wierzchu */
}


.image-container:hover {
    display: block;
    border-color: #d5783a;
    transform: translateX(10px); /* Dodaj efekt przesunięcia chmurki */
}
.image-container.powiekszony {
    transform: scale(1.2); /* Zastosuj powiększenie dla efektu hover i kliknięcia */
}
