/* Kontakt.css */

.form {
    text-align: center;
    padding: 20px;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 80%;
}
.Naglowki{
    background-color: #a48543;
    min-width: 80%;
}

.Wiadomosc div{
    margin-top: 10px;
}
.Wiadomosc textarea {
    min-width:70%;
    max-width: 70%;
    min-height: 30vh;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


.Wiadomosc h3 {
    color: #333;
}

.WiadomoscKontener {
    margin: 0 10px;
    padding: 5px 10px;
    background-color: #282828;
    color: white;
    border: none;
    cursor: pointer;
    font-size: x-large;
    border-radius: 10px;
    min-width: 80%;

}

.SendButton,
.WiadomoscKontener h1 {
    color: #fff;
    background-color: #4caf50;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
}

.SendButton:hover,
.WiadomoscKontener h1:hover {
    background-color: #45a049;
}

.FAQList {
    list-style: none;
    padding: 0;
}

.FAQ {
    background-color: #f2f2f2;
    min-height: 5vh;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-align: left;
}
