.App {
  text-align: center;
}
.Menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  margin:auto;
  background-color: #a38443; /* Dostosuj kolor tła do swoich preferencji */
  color: white; /* Dostosuj kolor tekstu do swoich preferencji */
  padding: 10px;
  text-align: center;
  z-index: 1000; /* Ustaw z-index na wartość większą niż reszta strony, aby pasek menu był zawsze na wierzchu */
}

.Menu button {
  margin: 0 10px; /* Dodaj margines między przyciskami */
  padding: 5px 10px; /* Dostosuj padding dla lepszego wyglądu */
  background-color: #282828; /* Dostosuj kolor tła przycisków */
  color: white;
  border: none;
  cursor: pointer;
  font-size: x-large;
  border-radius: 10px;
}

.Menu button:hover {
  background-color: #8eff6e; /* Zmiana koloru tła po najechaniu myszką */
}