.image-container {
    position: relative;
    display: inline-block;
    margin: 10px;
    transition: transform 0.2s; /* Dodaj efekt przejścia */
}

.image-info {
    position: absolute;
    top: 0; /* Pozycja górna */
    right: -10px; /* Pozycja od prawej strony */
    background-color: rgba(55, 255, 0, 0.8); /* Kolor tła */
    color: #000000; /* Kolor tekstu */
    padding: 10px;
    border-radius: 5px;
    opacity: 100%;
    z-index: 1; /* Zawsze na wierzchu */
}


.image-container:hover {
    display: block;
    border-color: chocolate;
    transform: translateX(10px); /* Dodaj efekt przesunięcia chmurki */
}
