.galeria {
    display: flex;
    margin:auto;
    max-width:80% ;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #333333;
    border-radius: 10px;
}

.galeria img {
    max-width: 100%;
    margin: 10px;
    border: 10px solid #a48543;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: rotate(0deg);
}

h1
{
    text-align: center;
    width:50%;
    font-size: 34px;
    letter-spacing: 5px;
    background-color: #c07070;
    border-radius: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
}

body {
    background-color: #1f1f1f;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}



/*.galeria img:hover*/
/*{*/
/*    animation: spin-img infinite 13s linear;*/
/*}*/
/*@keyframes spin-img {*/
/*    0% {*/
/*        transform: rotate(0deg) scale(100%);*/
/*    }*/
/*    50% {*/
/*        transform: rotate(180deg) scale(150%);*/
/*    }*/
/*    100%*/
/*    {*/
/*        transform: rotate(360deg);*/
/*    }*/
/*}*/